In [1]:
import pandas as pd

In [2]:
Salary_train=pd.read_csv('SalaryData_Train.csv')
Salary_train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
Salary_train.columns

Index(['age', 'workclass', 'education', 'educationno', 'maritalstatus',
       'occupation', 'relationship', 'race', 'sex', 'capitalgain',
       'capitalloss', 'hoursperweek', 'native', 'Salary'],
      dtype='object')

In [4]:
columns=['age', 'workclass', 'education', 'educationno', 'maritalstatus','occupation', 'relationship', 'race', 'sex', 'capitalgain',
         'capitalloss', 'hoursperweek', 'native', 'Salary']

In [5]:
Salary_train=Salary_train.drop(columns=['educationno','occupation', 'relationship', 'race','native','workclass','education','maritalstatus','sex'])
Salary_train.head()

   age  capitalgain  capitalloss  hoursperweek  Salary
0   39         2174            0            40   <=50K
1   50            0            0            13   <=50K
2   38            0            0            40   <=50K
3   53            0            0            40   <=50K
4   28            0            0            40   <=50K

In [6]:
X=Salary_train.iloc[:,:4]
y=Salary_train.iloc[:,4]

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=42)

In [8]:
from sklearn.naive_bayes import GaussianNB

In [9]:
model=GaussianNB()
model.fit(X_train,y_train)

GaussianNB()

In [10]:
Salary_test=pd.read_csv('SalaryData_Test.csv')

In [11]:
Salary_test=Salary_test.drop(columns=['educationno','occupation', 'relationship', 'race','native','workclass','education','maritalstatus','sex'])
Salary_test.head()

   age  capitalgain  capitalloss  hoursperweek  Salary
0   25            0            0            40   <=50K
1   38            0            0            50   <=50K
2   28            0            0            40    >50K
3   44         7688            0            40    >50K
4   34            0            0            30   <=50K

In [12]:
X=Salary_test.iloc[:,:4]
y=Salary_test.iloc[:,4]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=42)

In [13]:
from sklearn.metrics import accuracy_score
y_pred=model.predict(X_test)
accuracy_score(y_test,y_pred)

0.7858565737051793

In [14]:
model.predict_proba(X_test)

array([[0.99086321, 0.00913679],
       [0.96979849, 0.03020151],
       [0.99016756, 0.00983244],
       ...,
       [0.98246945, 0.01753055],
       [0.98533284, 0.01466716],
       [0.01021531, 0.98978469]])